.cartPage__loading,
.cartPage__empty,
.cartPage__fetchError {
  color: black;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cartPage__loading svg {
  height: 150px;
}

.cart__list-container {
  padding-bottom: 20px;
}

.cart__list {
  background-color: rgb(230, 230, 230);
  max-width: 550px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
}

.cart__list-h1 {
  color: black;
}
