.foodItemDetails__columnContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.foodItemDetails__h1 {
  color: black;
  margin-top: 60px;
}

.foodItemDetails__rowContainer {
  display: flex;
  flex-direction: row;
  width: 75%;
}

.foodItemDetails__image {
  max-width: 40%;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.foodItemDetails__h2-description {
  color: black;
  margin-top: 100px;
}

.foodItemDetails__h2-price {
  color: black;
  margin-top: 70px;
}

.foodItemDetails__spaceBetween {
  width: 400px;
  margin-top: 60px;
  justify-content: space-between;
}

.button {
  display: flex;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  background-color: blue;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
