:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("./assets/TyostoDinerBackground.png");
  background-size: cover;
  background-position: center;
  opacity: 0.9; /* makes background less stressfull for eyes as it is not so bright */
  z-index: -1;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #242424;
}

body::-webkit-scrollbar-thumb {
  background-color: #ff8800bb;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #ff8800dd;
}

body::-webkit-scrollbar-track-piece {
  color: green;
}
