.menu__list-item {
  position: relative;
  width: 75%;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;

  background-color: rgb(230, 230, 230);
}

.menu__list-item__image {
  max-width: 100%;
  object-fit: cover;
}

.menu__list-item__info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 10px;
}

.menu__list-item__h1 {
  margin: 0;
  color: black;
}

.menu__list-item__h3 {
  margin: 0;
  color: black;
}

.menu__list-item__add-to-cart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  height: 10%;
  width: 100%;
}

.menu__list-item__add-to-cart-h1 {
  flex: 10;
  border: 1px solid white;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
}

.menu__list-item__quantity-button {
  flex: 10;
  border: 1px solid black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  background-color: black;
}

.menu__list-item__quantity-button:hover {
  transform: scale(1.05);
  transition-duration: 100ms;
}

.menu__list-item__add-to-cart-button {
  flex: 70;
  height: 100%;
  text-align: center;
  font-size: 150%;
  margin: 0;
  padding: 0;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgb(230, 230, 230);
}

.menu__list-item__add-to-cart-button:hover {
  transform: scale(1.05);
  transition-duration: 100ms;
}
