.Navigation-bar__container {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-left: 15px;
  @media screen and (min-width: 1600px) {
    position: absolute;
    margin-left: 75px;
  }
}

.navBar__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  background-image: url("../assets/menuItemBackground.png");
  background-size: auto;
  background-position: center;
  color: black;
  font-size: 50px;
  height: 78px;
  min-width: 80px;
  transition: width 300ms ease;
  position: relative;
  text-decoration: none;
  margin-right: 10px;
}

.navBar__button svg {
  margin: 15px;
  width: 50px;
}

.navBar__button-text-container {
  width: 0px;
  overflow: hidden;
  transition: width 300ms ease;
}

.navBar__button:hover .navBar__button-text-container {
  width: 140px;
  transition: width 300ms ease;
}

.navBar__img {
  height: 150px;
}
