.quantity__h1-cart {
  flex: 10;
  border: 1px solid rgb(230, 230, 230);
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
}

.quantity__h1-menu {
  flex: 10;
  border: 1px solid #ff8800;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
}

.quantity__button {
  flex: 10;
  border: 1px solid black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  background-color: black;
}

.quantity__button:hover {
  background-color: rgb(40, 40, 40);
  transition-duration: 200ms;
  cursor: pointer;
}
